html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow: hidden;
    user-select: none;
    font-family: sans-serif;
    background: #A16CFF;
}

a  {
    color: #A16CFF;
    text-decoration: none;
}

.loading {
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.loading.loaded {
    opacity: 0 !important;
    visibility: hidden !important;
}

.loading img {
    animation: rotating 2s linear infinite;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.popup-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.popup-background.open {
    visibility: visible !important;
    opacity: 1 !important;
}

.popup {
    position: relative;
    color: #000;
    width: 300px;
    height: auto;
    max-height: 90%;
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
}

.popup .body {
    text-align: left;
}

.popup .close {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    opacity: 0.5;
    right: 0;
    top: 0;
}

.popup .body .credits {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.popup .body img {
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 10px;
}

.info {
    color: #fff;
    font-size: 35px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    z-index: 10;
}

.container img {
    position: absolute;
    bottom: 0;
    right: 100%;
    animation: sliding 0.8s linear infinite;
}

.container .data {
    color: #fff;
    position: absolute;
    text-align: center;
    z-index: 10;
    top: 30px;
}

.container .data h1, .popup h2 {
    margin-bottom: 0;
}

@keyframes sliding {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(150vw);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}